.u-section-1 .u-sheet-1 {
  min-height: 2001px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 370px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 352px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-layout-cell-2 {
  min-height: 370px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 35px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 25px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 25px 0;
}

.u-section-1 .u-shape-1 {
  width: 74px;
  height: 94px;
  margin: -89px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 64px;
  height: 94px;
  margin: -94px 118px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 43px;
  height: 43px;
  margin: 37px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 463px;
}

.u-section-1 .u-container-layout-3 {
  padding: 19px 10px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 74px 0 26px;
}

.u-section-1 .u-shape-3 {
  height: 140px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -140px auto 0 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 13px 74px 0 26px;
}

.u-section-1 .u-shape-4 {
  height: 140px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: -140px auto 0 7px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 463px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-image-2 {
  width: 334px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 39px auto 0 308px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 -47px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 118px;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -64px 65px 0 auto;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -63px auto 0 488px;
}

.u-section-1 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -64px 411px 0 auto;
}

.u-section-1 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: -64px 240px 0 auto;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 56px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 431px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-image-3 {
  width: 352px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-layout-cell-6 {
  min-height: 431px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 35px;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  margin: 19px 25px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 21px 25px 0;
}

.u-section-1 .u-shape-5 {
  width: 74px;
  height: 150px;
  margin: -145px auto 0 0;
}

.u-section-1 .u-shape-6 {
  width: 64px;
  height: 145px;
  margin: -150px 118px 0 auto;
}

.u-section-1 .u-icon-9 {
  width: 43px;
  height: 43px;
  margin: 42px auto 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 463px;
}

.u-section-1 .u-container-layout-7 {
  padding: 19px 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 84px 0 36px;
}

.u-section-1 .u-shape-7 {
  height: 146px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -138px 11px 0;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 26px 84px 0 36px;
}

.u-section-1 .u-shape-8 {
  height: 140px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 10px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: -121px -30px 0 17px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 463px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-1 .u-image-4 {
  width: 334px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1698px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 315px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 305px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    padding: 7px 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 382px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 315px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -38px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 14px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -134px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -67px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 402px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 339px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 129px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 315px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 355px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    padding: 7px 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 382px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 315px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 110px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -212px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 57px;
    margin-left: 236px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -81px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -39px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 308px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 260px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 34px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2313px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -140px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 535px;
    margin-left: 177px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -560px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 440px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 231px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 195px;
  }

  .u-section-1 .u-icon-8 {
    margin-right: 180px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -445px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1706px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 110px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -212px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 634px;
    margin-left: 111px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -659px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 539px;
    margin-left: 74px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 145px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 123px;
  }

  .u-section-1 .u-icon-8 {
    margin-right: 113px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -544px;
  }
}